<footer>
  <dir id="footer-raja"></dir>
<div id="content">

   <div id="footer-logo">
      <img src="/img/logo.png">
      <img src="/img/play_store.png">
      <img src="/img/apple.png">
      
   </div>
   <div id="yhteisT">
      <h3>Ota yhteyttä</h3>
      <h4>Puhelinnumero: xxxxxx</h4>
      <h4>Sähköposti: sakial@y.com</h4>
<br>
      <h3>Asiakaspalvelu</h3>
      <h4>Puhelinnumero: xxxxxx</h4>
      <h4>Sähköposti: sakial@y.com</h4>
   </div>
</div>

</footer>
</body>
</html>
