<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="inc/styles.css">
</head>
<body>
    <div class="header">
        <img id="logo" src="/img/logo.png">
        <nav id="nav">
            <a href="/" href="#film"> Elokuvat</a>
            <a href="/yhteistidot">Yhteistidot</a>
            <a href="/osta">Kassa</a>
        </nav> 
        <form action="/lisaa" id="hae" method="POST">
            <input id="etsi" type="text" placeholder="suorita haku" name="merkki">
            <button type="submit" value="Hae" id="Hae" class="custom-button">
                <img alt="Submit" src="/img/find.png" class="custom-img">
            </button>
        </form>
    </div>
    </div>

    
