<%- include('partials/header') %>

<div id="tiedot">
    <div >
        <img id="logo" src="/img/logo.png">
    </div>
    <dir id="tiedot-text">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint exercitationem neque architecto adipisci quod velit molestias reiciendis pariatur unde ullam harum facere, dolorum repudiandae magni quae explicabo quidem atque consequuntur libero sapiente quasi. Non et eligendi omnis impedit, rem reprehenderit odit exercitationem qui! Dolore exercitationem nihil cum inventore debitis. Iure aperiam iusto quasi cumque ullam consequuntur nisi repellendus, quos optio, esse sunt corporis! Quae alias porro libero labore optio nemo quidem fuga magnam, quisquam dignissimos veritatis tenetur quia maiores commodi suscipit rerum quo assumenda illo natus voluptates non explicabo consequatur quod necessitatibus. Doloribus, debitis ex magnam sunt nisi quod reiciendis?</p>
    </dir>
</div>
<div>
    <table class="center-table">
        <% data.forEach(film => { %>
        <tr>
            <td class="center-text"><%= film.title %></td>
        </tr>
    <% }); %>
    
</table>
</div>

<%- include('partials/footer') %>
