<%- include('partials/header') %>

<br>
<br>
<div id="tiedot">
    <div >
        <img id="logo-kuva" src="/img/logo.png">
    </div>
    <br>
    
    <div id="tiedot-text" class="tiedot-text-class">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint exercitationem neque architecto adipisci quod velit molestias reiciendis pariatur unde ullam harum facere, dolorum repudiandae magni quae explicabo quidem atque consequuntur libero sapiente quasi. Non et eligendi omnis impedit, rem reprehenderit odit exercitationem qui! Dolore exercitationem nihil cum inventore debitis. Iure aperiam iusto quasi cumque </p>
    </div>
 
  
</div>
<br>
</div>

<div id="ytiedot">
    <h3>pystyt löytämään meidät: helsinki</h3>
    <h3>puhelin numero: XXXXXX</h3>
    <h3>sähköpostiosoite: sakila@yritys.com</h3>
    <h3>Sosiaalisen median </h3>
    <table id="tab">

    <tr>
        <td>youtube: sakila</td>
        <td>instagram: sakila</td>
        <td>facebook: sakila</td>
        <td>(x)Tuiter: @sakila</td>
    </tr>
  </table>
</div>
<br>
<div id="tiedot">
    
    <div id="tiedot-text" class="tiedot-text-class">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint exercitationem neque architecto adipisci quod velit molestias reiciendis pariatur unde ullam harum facere, dolorum repudiandae magni quae explicabo quidem atque consequuntur libero sapiente quasi. Non et eligendi omnis impedit, rem reprehenderit odit exercitationem qui! Dolore exercitationem nihil cum inventore debitis. Iure aperiam iusto quasi cumque </p>
    </div>
    <br>
    <div id="tiedot-text" class="tiedot-text-class">
        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Sint exercitationem neque architecto adipisci quod velit molestias reiciendis pariatur unde ullam harum facere, dolorum repudiandae magni quae explicabo quidem atque consequuntur libero sapiente quasi. Non et eligendi omnis impedit, rem reprehenderit odit exercitationem qui! Dolore exercitationem nihil cum inventore debitis. Iure aperiam iusto quasi cumque </p>
    </div>
    
    
</div>


<%- include('partials/footer') %>
