* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #373435;
}

#nav {
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30%;
    margin: 30px;
    padding: 30px 30px 0px 30px;
}

#hae {
    display: flex;
    align-items: end;
    justify-content: end;
    padding-top: 15px;
}

.custom-button {
    background: none;
    border: none;
    height: 40px;
    cursor: pointer;
}

.custom-img {
    width: auto;
    height: auto;
}

.header #nav {
    display: flex;
    gap: 99%;
    margin-top: 50px;
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
}

.header #nav a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

a:hover {
    text-shadow: 2px 2px 5px rgb(255, 255, 255);
    background: #20aad8;
}

#etsi {
    width: 180px;
    margin-right: 5px;
    background: none;
    border: none;
    outline: none;
    padding: 5px;
    font-size: 16px;
    border-bottom: 2px solid rgb(250, 250, 250);
    color: white;
}

#etsi:hover {
    border-bottom: 2px solid #20aad8;
}
#logoSakila{
    height: 72px;
 
}
#logo {
    height: 70px;           
}

#osta {
    display: flex;
    justify-content: end;
    margin-top: 5vh;
    margin-right: 15vh;
}

#tiedot {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 17%;
    margin-bottom: 0vh;
    margin-top: 18px;
}

#tiedot img {
    width: 30vh;
    height: 30vh;
}

#tiedot p {
    width: 50vh;
    height: 30vh;
    color: white;
}

/* ? index.ejs elokuvat  */
#elokuva {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20vh 0;
}

tr {
    background-color: #373435;
    width: 55vh;
    border: solid rgb(255, 255, 255) 10px;
    border-bottom: solid rgb(255, 255, 255) 100px;

    height: 39vh;
}

.film-checkbox {
    margin-top: 25vh;
    width: 20px;
    height: 20px;

    cursor: pointer;
}

.spann {
    color: rgb(32, 32, 32);
    margin-left: 40px;
    margin-right: 10px;
    font-size: 20px;
}

/*  */
.dataSup {
    background-color: white;

}

.film-lable {
    background-color: rgb(255, 255, 255);
    border-bottom: solid 2px;

}

.actors {
    background-color: white;
    font-size: 15px;
}


#film-table {
    display: flex;
    gap: 100px;
    height: 30vh;

}

#prev,
#next {
    cursor: pointer;
}

.vasen_nappi {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* ?kassa */
#osta h3 {
    margin-top: 15px;
    color: #20aad8;
}

#selectedFilms {
    font-size: 10px;
}

#ota img {
    width: 45px;
    transition: 4s;
    height: 45px;
}

/* #ota img:hover {
    width: 50px;
    margin-left: 55px;
    transition: 2s;
    height: 40px;
} */

#center-table tr {
    border: 20px solid red;
}

/* ?osta.ejs */
#osta-elokuva {
    border: solid 3px #20aad8;
    width: 50vh;
    height: 30vh;
    margin-left: 10vh;
}

.film-container {
    display: none;
}

/* ? osta.ejs*/
#kassa1 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 17vh;


}

#kassa2 {
    width: 50vh;
}

#film-pos {
    /* border: solid red;  */
    display: flex;
    margin-bottom: 20px;
    color: white;
    padding-top: 2px;
    gap: 20px;
    border-bottom: solid rgb(255, 255, 255);


}

#maksa {
    display: flex;
    justify-content: center;
    align-items: center;
}

#poista img {
    width: 30px;
    margin-top: -40px;
    margin-left: 40px;



}

.maksa {
    background-color: #20aad8;
    border-radius: 100px;
    box-shadow: rgba(32, 170, 216, .2) 0 -25px 18px -14px inset,
        rgba(32, 170, 216, .15) 0 1px 2px,
        rgba(32, 170, 216, .15) 0 2px 4px,
        rgba(32, 170, 216, .15) 0 4px 8px,
        rgba(32, 170, 216, .15) 0 8px 16px,
        rgba(32, 170, 216, .15) 0 16px 32px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.maksa:hover {
    box-shadow: rgba(32, 170, 216, .35) 0 -25px 18px -14px inset,
        rgba(32, 170, 216, .25) 0 1px 2px,
        rgba(32, 170, 216, .25) 0 2px 4px,
        rgba(32, 170, 216, .25) 0 4px 8px,
        rgba(32, 170, 216, .25) 0 8px 16px,
        rgba(32, 170, 216, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}

/* ?  yhteistiedot.ejs*/

#ytiedot {
    margin: 20px;
    text-align: center;
    color: #20aad8;
}

#tab {
    display: flex;
    align-items: center;
    justify-content: center;
}

#tab td {
    display: block;
}

/* ? hakutulos.ejs */
.content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.elokuva {
    color: #20aad8;
    font-size: 20px;
    margin-top: 10vh;

    width: 40vh;
}

/* ?footer.ejs */
footer {
    width: 100%;
    height: 35vh;
    margin-top: 10vh;
}

#footer-raja {
    width: 185vh;
    height: 10px;
    margin-bottom: 10vh;
    margin-left: auto;
    margin-right: auto;
    border: solid #20aad8 5px;
    border-radius: 20px;
}

#content {
    margin-left: 15vh;
    margin-right: 15vh;
}

#footer-logo img {
    height: 10vh;

}

#yhteisT {
    text-align: end;
    margin-bottom: 4vh;
    margin-top: -17vh;
    margin-right: 5vh;

}

#yhteisT h3 {
    margin-top: 2px;
    color: red
}

#selectedFilms {
    border: #20aad8 solid 1px;
    padding-left: 10px;
    padding-right: 10px;
    color: white;
}

#lisaa {
    background-color: #20aad8;
    border-radius: 100px;
    box-shadow: rgba(32, 170, 216, .2) 0 -25px 18px -14px inset,
        rgba(32, 170, 216, .15) 0 1px 2px,
        rgba(32, 170, 216, .15) 0 2px 4px,
        rgba(32, 170, 216, .15) 0 4px 8px,
        rgba(32, 170, 216, .15) 0 8px 16px,
        rgba(32, 170, 216, .15) 0 16px 32px;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-family: CerebriSans-Regular, -apple-system, system-ui, Roboto, sans-serif;
    padding: 7px 20px;
    text-align: center;
    text-decoration: none;
    transition: all 250ms;
    border: 0;
    font-size: 16px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

#lisaa:hover {
    box-shadow: rgba(32, 170, 216, .35) 0 -25px 18px -14px inset,
        rgba(32, 170, 216, .25) 0 1px 2px,
        rgba(32, 170, 216, .25) 0 2px 4px,
        rgba(32, 170, 216, .25) 0 4px 8px,
        rgba(32, 170, 216, .25) 0 8px 16px,
        rgba(32, 170, 216, .25) 0 16px 32px;
    transform: scale(1.05) rotate(-1deg);
}




/* ! Elokuvat.ejs sivusto */
.category-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    margin-bottom: 20px;
}

.category-buttons button {
    min-width: 50px;
    height: 30px;
    border: none;
    background: rgba(0, 0, 0, 0.26);
    margin: 0;
    padding: 0;
    color: white;
    font-size: 15px;
}
.category-buttons button:hover{
    border-bottom:1.5px solid #20aad8 ;

}
.kes{
  
    text-align: center;
}
#laheta{
   height: 30px;
   width: 30vh;
    border: none;
    background-color:  #20aad841 ;
    margin: 0;
    padding: 0;
    color: white;
    font-size: 15px;
    margin: 30px;
}
#laheta:hover{
    background-color:  #20aad8 ;
   

}

.film-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    padding: 20px;
}

.film-item {
    border: 9px solid #ddd;
    border-bottom: 30px solid rgb(255, 255, 255);

    border-radius: 10px;
    padding: 10px;
    text-align: center;
    /* background-color: #f9f9f9; */

}

.film-item h3 {
    margin: 0;
    font-size: 16px;
}

.film-item {
    display: none;
}

.film-item.show {
    display: block;
    color: rgb(255, 255, 255);
    
}

#laheta i{
font-size: 20px;
}